<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %} {% endblock %}</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css')}}"
        />
    </head>
    <body>
        <header class="header">
            <h1 class="header">Blogs Page</h1>

            <nav class="nav">
                <ul class="menu">
                    <li class="menu-item">
                        <a href="/" class="menu-link">Blogs</a>
                    </li>
                    <li class="menu-item">
                        <a href="/about" class="menu-link">About</a>
                    </li>
                    <li class="menu-item">
                        <a href="/resignation-letter" class="menu-link"
                            >Resignation Letter</a
                        >
                    </li>
                    {% if g.user %}
                    <li>
                        <form action="/logout" method="POST">
                            <button>Logout</button>
                        </form>
                    </li>
                    {% else %}
                    <li>
                        <a href="/login">Signin</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        {% block content %} {% endblock %}

        <footer class="footer">
            <hr />
            <p class="copy-right">Blogs 2021</p>
        </footer>
    </body>
</html>
